BBH.Lotte.Project.Services/Service References/MemberServicesSvc/MemberSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MemberSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8122/MemberSvc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8122/MemberSvc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8122/MemberSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BBH.Lotte.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMemberSvc_CheckAuthenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAuthenticate" />
  </wsdl:message>
  <wsdl:message name="IMemberSvc_CheckAuthenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberSvc_GetMemberByToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberByToken" />
  </wsdl:message>
  <wsdl:message name="IMemberSvc_GetMemberByToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberByTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberSvc_GetMemberByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberByEmail" />
  </wsdl:message>
  <wsdl:message name="IMemberSvc_GetMemberByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberByEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IMemberSvc">
    <wsdl:operation name="CheckAuthenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberSvc/CheckAuthenticate" message="tns:IMemberSvc_CheckAuthenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberSvc/CheckAuthenticateResponse" message="tns:IMemberSvc_CheckAuthenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberByToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberSvc/GetMemberByToken" message="tns:IMemberSvc_GetMemberByToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberSvc/GetMemberByTokenResponse" message="tns:IMemberSvc_GetMemberByToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberSvc/GetMemberByEmail" message="tns:IMemberSvc_GetMemberByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberSvc/GetMemberByEmailResponse" message="tns:IMemberSvc_GetMemberByEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMemberSvc" type="tns:IMemberSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAuthenticate">
      <soap:operation soapAction="http://tempuri.org/IMemberSvc/CheckAuthenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberByToken">
      <soap:operation soapAction="http://tempuri.org/IMemberSvc/GetMemberByToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberByEmail">
      <soap:operation soapAction="http://tempuri.org/IMemberSvc/GetMemberByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberSvc">
    <wsdl:port name="BasicHttpBinding_IMemberSvc" binding="tns:BasicHttpBinding_IMemberSvc">
      <soap:address location="http://localhost:8122/MemberSvc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>